/ecma/node_modules
/ecma/gerg.txt
/c/algorithms/*.o
/c/algorithms/freader/freader
/c/algorithms/lines/lines
/c/algorithms/lines/carry_buffer_test/carry
/c/algorithms/lines/*.o
/c/algorithms/list/*.o
/c/algorithms/sizeof/*.o
/c/LCTHWexercises/*.o
/c/LCTHWexercises/*.dat
/c/LCTHWexercises/ex19/*.o
/c/LCTHWexercises/ex19/*.dSYM
/ecma/*.o
